@import "./bootstrap/bootstrap";
@import "./bourbon/bourbon";

$navbar-primary-color: $gray-lighter;
$navbar-primary-bg: #2c3e50;
$navbar-primary-brand-color: $gray-lighter;

$alert-static-zindex: 99999;

body {
    color: $gray-base;
    font-size: 1.5em;
    font-family: "Proxima Nova","Hiragino Sans GB","STHeiti","Microsoft YaHei",SimHei,"Helvetica Neue",Helvetica,Arial,sans-serif;
    line-height: $line-height-base * 1.15;
    -moz-osx-font-smoothing: grayscale;
}

a {
    &:focus, &:hover, &:active {
        text-decoration: none;
    }
}

.container {
    max-width: 960px;
}

.alert-static {
    display: none;
    text-align: center;
    @include position( absolute, 0 0 null 0 );
    z-index: $alert-static-zindex;
    .alert {
        display: inline-block;
        line-height: $line-height-base;
        padding: $padding-base-vertical/2;
        @include margin( null auto 0 );
        border-radius: $border-radius-small;
    }
}

.navbar {
    // margin-top: $padding-base-vertical * 2;
    &.navbar-primary {
        min-height: 75px;
        background-color: $navbar-primary-bg;
        border-color: transparent;
        border-radius: 0;
        .navbar-brand {
            display: inline-block;
            color: $navbar-primary-brand-color;
            height: auto;
            @include padding( 30px null 10px );
            &:hover,
            &:focus {
                color: $navbar-inverse-brand-hover-color;
                background-color: $navbar-inverse-brand-hover-bg;
            }
        }
        .navbar-text {
            color: $navbar-primary-color;
            @include margin( 33px null 7px );
            a {
                color: $navbar-primary-color;
            }
        }
    }
}

.nav-tabs {
    > li > a {
        border-radius: 0;
        @include padding( $padding-base-vertical null );
        label { margin-bottom: 0; }
    }
}

.nav-pills {
    .panel {
        cursor: pointer;
    }
}

.abbr {
    border-bottom: 1px dotted;
}

.page-header {
    padding-bottom: 0;
    h1 {
        font-size: $font-size-h1 * 0.9;
        letter-spacing: -0.05em;
        margin-bottom: 0;
    }
}

.well {
    border-radius: 0;
    box-shadow: none;
}

.table {
    &.vertical-align-middle {
        border-bottom: 1px solid #e5e5e5;
        th {
            padding-bottom: 3px;
        }
        td {
            vertical-align: middle!important;
            @include padding( ($padding-large-vertical + 3) null );
            border-top-color: #ededed;
        }
    }
}

.dropdown-menu {
    border-radius: 0;
}

.alert {
    border-radius: 0;
    padding: $padding-large-vertical + 2;
    .close {
        margin-left: 5px;
        @include position(relative, 1px null null);
    }
}

.form-control {
    border-radius: 0;
    border-width: 0 0 2px 0;
    box-shadow: none;
    &:focus {
        box-shadow: none;
    }
}

.form-group {
    .control-label {
        font-weight: normal;
    }
}

.form-group-lg,
.form-group-sm {
    .form-control {
        border-radius: 0;
        @include padding( null 5px );
    }
}

.form-group-lg {
    margin-bottom: 20px;
}

.form-group-md {
    margin-bottom: 20px;
    .control-label {
        // color: $gray-light;
        font-size: $font-size-base + 2;
        padding-top: $padding-large-vertical;
    }
    .form-control {
        font-size: $font-size-base + 2;
        height: 40px;
        @include padding( 10px null );
    }
}

$strings: (
    999: $brand-warning,
    200: $brand-success,
    404: $brand-danger);

@each $string, $color in $strings {
    .text-#{$string} {
        color: $color;
    }
}

.breadcrumb {
    @include padding( null 0 );
    border-radius: 0;
    background-color: transparent;
    li {
        a {
            color: $gray-light;
        }
        &.start:before {
            visibility: hidden;
            display: none;
            content: "";
        }
        &.active > span {
            display: inline-block;
            color: $brand-warning;
            border-bottom: 2px solid $brand-warning;
        }
        + li:before {
            content: "";
        }
    }
}

.thumbnail, 
.thumbnail > a {
    border: 0 transparent solid;
    position: relative;
    @include transition( all, .2s );
    > img {
        border: 1px solid $thumbnail-border;
        border-radius: 0;
    }

    h4 {
        font-size: 16px;
        @include margin( 0 null 5px );
    }

    .btn {
        @include margin( null auto );
        height: 25px;
    }

    &:hover,
    &:active,
    &:visited {
        .caption {
            color: $link-hover-color;
        }
    }

    > .label {
        border-radius: 2px;
        @include position( absolute, 10px 10px null null );
        + .label {
            top: 30px;
        }
    }
}

.tooltip {
    .tooltip-inner {
        border-radius: 0;
    }
}

.btn {
    @include transition( all .2s );

    &.btn-mini {
        font-size: 12px;
        line-height: 1.2;
        @include padding( 4px null );
    }
    &.btn-ghost {
        border-radius: 25px;
    }
    &.btn-lg {
        @include padding( ($padding-large-vertical + 2) null ($padding-large-vertical - 2) )
    }
}

.btn, .btn-xs, .btn-sm, .btn-md, .btn-lg {
    border-radius: 2px;
}

.glyphicon {
    margin-right: 5px;
}

.footer {
    a {
        color: $gray-light;
        &:hover {
            color: $gray-darker;
        }
    }
}

@import "./../vendor/loading-bar.min";

