<!doctype html>
<html lang="en">
<head>
<meta charset="utf-8">
<meta http-equiv="X-UA-Compatible" content="IE=edge">
<meta name="viewport" content="width=device-width, initial-scale=1">
<title>安装daocloud集群</title>
<link rel="stylesheet" href="/assets/css/bundle.min.css">
</head>
<body>

<div class="container-fluid">
    <navbar></navbar>
    <div class="container">
        <div class="row">
            <div class="col-xs-12 col-sm-offset-1 col-sm-10">
                <div class="alert-static" ng-class="{'show': alrt && alrt.message}">
                    <div
                        class="alert alert-{{alrt.status}}"
                        id="id__alrt">
                        <button class="close" type="button" ng-click="alrt.dismiss()">&times;</button>
                        {{alrt.message}}
                    </div>
                </div>

                <div ng-view></div>
                <div class="footer text-center" style="margin-top: 40px;">&copy; 2015
                <a href="https://daocloud.io"
                target="_blank">上海道客网络科技有限公司</a></div>
            </div>
        </div>
    </div>
</div>

<script type="text/ng-template" id="tpl__navbar.html">
<div class="navbar navbar-primary">
    <div class="container-fluid">
        <div class="navbar-header">
            <a class="navbar-brand" href="#/">
                <i class="glyphicon glyphicon-download-alt"></i><strong>安装集群</strong>
            </a>
        </div>
        <div class="collapse navbar-collapse">
            <p class="navbar-text navbar-right">
                <a href
                    ng-class="{'hidden': !ctrl.isLoggedIn()}"
                    ng-click="ctrl.logout()">退出</a>
            </p>
        </div>
    </div>
</div>
</script>

<script type="text/ng-template" id="tpl__auth.html">
<div class="center-block" style="max-width: 600px;">
<div class="page-header">
    <h1>授权</h1>
</div>
<form class="form-horizontal">
    <p class="alert alert-warning"><em class="abbr" title="...">用户名</em>和<em class="abbr"
    title="...">密码</em> 是由DaoCloud提供给您的授权。如果您不清楚或遗忘了，请联络我们的客服给予协助。</p>
    <div class="form-group form-group-md">
        <label
            class="col-xs-12 col-sm-3 control-label"
            for="id__username">用户名</label>
        <div class="col-xs-12 col-sm-9">
            <input
                class="form-control"
                id="id__username"
                type="text"
                placeholder="foobar"
                ng-model="ctrl.cred.username">
        </div>
    </div>
    <div class="form-group form-group-md">
        <label
            class="col-xs-12 col-sm-3 control-label"
            for="id__password">密码</label>
        <div class="col-xs-12 col-sm-9">
            <input
                class="form-control"
                id="id__password"
                type="password"
                placeholder="serect"
                ng-model="ctrl.cred.password">
        </div>
    </div>
    <div class="row">
        <div class="col-xs-12 col-sm-offset-3 col-sm-9">
            <button
                class="btn btn-primary btn-lg btn-block visible-xs-block"
                type="submit"
                ng-click="ctrl.auth()">确认</button>
            <button
                class="btn btn-primary btn-lg hidden-xs"
                type="submit"
                ng-click="ctrl.auth()">确认</button>
        </div>
    </div>
</form>
</div>
</script>

<script src="/assets/js/bundle.min.js"></script>
</body>
</html>
