<ul class="breadcrumb">
    <li class="pull-right text-muted">总共5步</li>
    <li class="start"><span>当前步骤</span></li>
    <li><a href="#/installation/nodes">1</a></li>
    <li><a href="#/installation/login">2</a></li>
    <li class="active"><span>3</span></li>
</ul>

<div class="page-header">
    <h1>主机概览</h1>
</div>

<p class="lead">{{ctrl.nodes.length}}台主机</p>

<div class="row">
    <div class="col-xs-12 col-sm-6 col-md-4"
        ng-repeat="item in ctrl.nodes">
        <div class="panel panel-{{item.status|panel}}">
            <div class="panel-heading">
                <h4 class="panel-title">
                    <small class="pull-right">
                        <em class="text-{{item.status}}">
                            <i class="glyphicon glyphicon-{{item.status|glyphicon}}"></i> {{item.status|status}}</em>
                    </small>
                    <span>{{item.ip}}</span>
                </h4>
            </div>
            <div class="panel-body">
                <div><strong>{{item.node_details.system_info.kernel_version}}</strong><span class="text-muted">&#47;</span><span class="text-muted">kernel版本</span></div>
                <div><strong>{{item.node_details.system_info.linux_distro}}</strong><span class="text-muted">&#47;</span><span class="text-muted">linux版本</span></div>
                <div><strong>{{item.node_details.hardware.cpu_cores}} Core</strong><span class="text-muted">&#47;</span><span class="text-muted">CPU</span></div>
                <div><strong>{{item.node_details.hardware.memory_size}}</strong><span class="text-muted">&#47;</span><span class="text-muted">内存</span></div>
                <div><strong>{{item.node_details.hardware.disk_size}}</strong><span class="text-muted">&#47;</span><span class="text-muted">磁盘</span></div>
            </div>
        </div>
    </div>
</div>

<div class="row">
    <div class="col-xs-12 col-sm-offset-2 col-sm-8 col-md-offset-3 col-md-6">
        <button
            class="btn btn-default btn-lg btn-block"
            type="button"
            ng-click="ctrl.next()">&raquo; 下一步</button>
    </div>
</div>
