<ul class="breadcrumb">
    <li class="pull-right text-muted">总共5步</li>
    <li class="start"><span>当前步骤</span></li>
    <li><a href="#/installation/nodes">1</a></li>
    <li class="active"><span>2</span></li>
</ul>

<div class="page-header">
    <h1>登录主机</h1>
</div>

<form>
    <fieldset>
        <div class="panel panel-danger">
            <div class="panel-heading">
                <h4 class="panel-title">主机授权</h4>
            </div>
            <div class="panel-body">
                <p class="text-info"><strong>注意:</strong> 刚才您添加了{{ctrl.nodes.length}}台主机。请确保这些主机都有相同的用户(user)以及相同用户密码(password)。</p>
                <div class="form-group">
                    <input
                        class="form-control input-lg"
                        type="text"
                        placeholder="user"
                        ng-model="ctrl.cred.username">
                    <p class="help-block">例如: foobar</p>
                </div>
                <div class="form-group">
                    <input
                        class="form-control input-lg"
                        type="password"
                        placeholder="password"
                        ng-model="ctrl.cred.password">
                    <p class="help-block">例如: secret</p>
                </div>
            </div>
        </div>
    </fieldset>
    <div class="row">
        <div class="col-xs-12 col-sm-offset-2 col-sm-8 col-md-offset-3 col-md-6">
            <button
                class="btn btn-default btn-lg btn-block"
                type="button"
                ng-click="ctrl.login( ctrl.cred )">&raquo; 下一步</button>
        </div>
    </div>
</form>
