<ul class="breadcrumb">
    <li class="pull-right text-muted">总共5步</li>
    <li class="start"><span>当前步骤</span></li>
    <li><a href="#/installation/nodes">1</a></li>
    <li><a href="#/installation/login">2</a></li>
    <li><a href="#/installation/summary">3</a></li>
    <li><a href="#/installation/setup">4</a></li>
    <li class="active"><span>5</span></li>
</ul>

<div class="page-header">
    <h1>映射</h1>
</div>

<div class="alert alert-warning">集群映射是主机和服务之间的角色配置。</div>

<div class="row">
    <div class="col-xs-12 col-sm-4">
        <ul class="nav nav-pills nav-stacked">
            <li ng-class="{'active': ctrl.tab === $index}"
                ng-repeat="item in ctrl.nodes">
                <div
                    class="panel panel-default"
                    ng-class="{'panel-primary': ctrl.tab === $index}"
                    ng-click="ctrl.tab=$index">
                    <div class="panel-heading">
                        <h4 class="panel-title">
                            <i class="glyphicon glyphicon-ok-circle pull-right hide" ng-class="{'show': item.binded}"></i>
                            {{item.ip}}
                        </h4>
                    </div>
                </div>
            </li>
        </ul>
    </div>

    <div class="col-xs-12 col-sm-8">
        <div class="tab-content">
            <div class="tab-pane"
                ng-class="{'active': ctrl.tab === $index}"
                ng-repeat="node in ctrl.nodes">
                <section>
                    <h2>{{node.ip}}</h2>
                    <div>
                        <strong>{{node.node_details.system_info.kernel_version}}</strong>
                        <span class="text-muted">&#47;</span>
                        <span class="text-muted">kernel版本</span></div>
                    <div>
                        <strong>{{node.node_details.system_info.linux_distro}}</strong>
                        <span class="text-muted">&#47;</span>
                        <span class="text-muted">linux版本</span></div>
                    <div>
                        <strong>{{node.node_details.hardware.cpu_cores}} Core</strong>
                        <span class="text-muted">&#47;</span>
                        <span class="text-muted">CPU</span></div>
                    <div>
                        <strong>{{node.node_details.hardware.memory_size}}</strong>
                        <span class="text-muted">&#47;</span>
                        <span class="text-muted">内存</span></div>
                    <div>
                        <strong>{{node.node_details.hardware.disk_size}}</strong>
                        <span class="text-muted">&#47;</span>
                        <span class="text-muted">磁盘</span></div>
                </section>
                <hr>
                <service-list
                    template-url="tpl__service-list.html">
                </service-list>
            </div>
        </div>
    </div>
</div>

<div class="row">
    <div class="col-xs-12 col-sm-offset-2 col-sm-8 col-md-offset-3 col-md-6">
        <button
            class="btn btn-success btn-lg btn-block"
            type="button"
            ng-click="ctrl.save( ctrl.maps )">开始安装</button>
    </div>
</div>

<script type="text/ng-template" id="tpl__service-list.html">
<section>
    <h2>绑定服务</h2>
    <div class="row">
        <div class="col-xs-12 col-sm-4" ng-repeat="item in ctrl.servs">
            <div
                class="thumbnail"
                ng-class="{'required': item.required, 'scalable': item.scalable}">
                <span class="label label-danger" ng-if="item.required">required</span>
                <span class="label label-info" ng-if="item.scalable">scalable</span>
                <img
                    class="image-responsive"
                    src="//pbs.twimg.com/profile_images/378800000124779041/fbbb494a7eef5f9278c6967b6072ca3e.png"
                    alt="{{item.name}}">
                <div class="caption text-center">
                    <h4>{{item.name}}</h4>
                    <div ng-switch on="!!item.binded">

                        <!-- // 该服务已绑定 -->
                        <div ng-switch-when="true">
                            <div ng-switch on="!!item.scalable">

                                <!-- // 该服务可扩展 -->
                                <div ng-switch-when="true">

                                    <!-- // 当前节点已绑定该服务 -->
                                    <div ng-if="item.binded.indexOf( node.index) !== -1">
                                        <button
                                            class="btn btn-mini btn-danger btn-ghost"
                                            type="button"
                                            ng-click="ctrl.remove( node, item)">
                                                <i class="glyphicon glyphicon-remove-circle"></i><strong>解绑</strong></button>
                                    </div>

                                    <!-- // 当前节点未绑定该服务 -->
                                    <div ng-if="item.binded.indexOf( node.index ) === -1">
                                        <button
                                            class="btn btn-mini btn-default btn-ghost"
                                            type="button"
                                            ng-click="ctrl.mapping( node, item )">
                                            <strong>绑定</strong></button>
                                    </div>
                                </div>

                                <!-- // 该服务不可扩展 -->
                                <div ng-switch-when="false">

                                    <div ng-if="item.binded === node.index">
                                        <button
                                            class="btn btn-mini btn-danger btn-ghost"
                                            type="button"
                                            ng-click="ctrl.remove( node, item )">
                                            <i class="glyphicon glyphicon-remove-circle"></i><strong>解绑</strong></button>
                                    </div>

                                    <div ng-if="item.binded !== node.index">
                                        <span tooltip="该服务不可重复绑定">
                                            <button
                                                class="btn btn-mini btn-info btn-ghost"
                                                type="button"
                                                disabled><strong>已绑定</strong></button>
                                        </span>
                                    </div>
                                </div>

                            </div>
                        </div>

                        <!-- // 该服务未绑定 -->
                        <div ng-switch-when="false">
                            <button
                                class="btn btn-mini btn-default btn-ghost"
                                type="button"
                                ng-click="ctrl.mapping( node, item )"><strong>绑定</strong></button>
                        </div>

                    </div>

                </div>
            </div>
        </div>
    </div>
</section>
</script>

