<ul class="breadcrumb">
    <li class="pull-right text-muted">总共5步</li>
    <li class="start"><span>当前步骤</span></li>
    <li><a href="#/installation/nodes">1</a></li>
    <li><a href="#/installation/login">2</a></li>
    <li><a href="#/installation/summary">3</a></li>
    <li class="active"><span>4</span></li>
</ul>

<div class="page-header">
    <h1>部署类型</h1>
</div>

<form>
<ul class="nav nav-tabs">
    <li ng-class="{'active': ctrl.tab===0}">
        <a href ng-click="ctrl.tab=0">
        <label for="id__daoci">
        <input type="radio" id="id__deploy-type" name="deploy_type"
        ng-model="ctrl.type" style="margin-right: 5px;">Dao CI</label></a>
    </li>
    <li ng-class="{'active': ctrl.tab===1}">
        <a href ng-click="ctrl.tab=1">
        <label for="id__daopaas">
        <input type="radio" id="id__daopaas" name="deploy_type"
        ng-model="ctrl.type" style="margin-right: 5px;">Dao Pass</label></a>
    </li>
</ul>
</form>

<div class="tab-content">

    <div class="tab-pane" ng-class="{'active': ctrl.tab===0}">
        <setup-form
            cluster="ctrl.cluster"
            setup="ctrl.setup( cluster )"
            template-url="tpl__setup-form.html"
        ></setup-form>
    </div>

    <div class="tab-pane" ng-class="{'active': ctrl.tab===1}">
        <setup-form
            cluster="ctrl.cluster"
            setup="ctrl.setup( cluster )"
            template-url="tpl__setup-form.html"
        ></setup-form>
    </div>

</div>

<script type="text/ng-template" id="tpl__setup-form.html">
<div class="panel" style="box-shadow: none;">
    <div class="panel-body">
        <div class="alert alert-info">您可以在这里为集群添加自有的域名或者registry地址.</div>
        <form class="form-horizontal">
            <!-- // common -->
            <div class="form-group">
                <label class="col-xs-12 col-sm-3 control-label"
                    for="id__registry">registry</label>
                <div class="col-xs-12 col-sm-9">
                    <input
                        class="form-control"
                        id="id__registry"
                        type="text"
                        placeholder="e.g. 192.168.1.80:5000"
                        ng-model="cluster.registry">
                </div>
            </div>

            <!-- // dao ci -->
            <div class="form-group"
                ng-class="{'hide': $parent.ctrl.tab===1}">
                <label class="col-xs-12 col-sm-3 control-label"
                    for="id__registry-host">registry host</label>
                <div class="col-xs-12 col-sm-9">
                    <input
                        class="form-control"
                        id="id__registry-host"
                        type="text"
                        placeholder="e.g. 192.168.1.80:5000"
                        ng-model="cluster.host">
                </div>
            </div>
            <div class="form-group"
                ng-class="{'hide': $parent.ctrl.tab===1}">
                <label class="col-xs-12 col-sm-3 control-label"
                    for="id__url">url</label>
                <div class="col-xs-12 col-sm-9">
                    <input
                        class="form-control"
                        id="id__url"
                        type="text"
                        placeholder="e.g. 192.168.1.80:5000"
                        ng-model="cluster.url">
                </div>
            </div>

            <!-- // dao pass -->
            <div class="form-group"
                ng-class="{'hide': $parent.ctrl.tab===0}">
                <label class="col-xs-12 col-sm-3 control-label"
                    for="id__domain">domain</label>
                <div class="col-xs-12 col-sm-9">
                    <input
                        class="form-control"
                        id="id__domain"
                        type="text"
                        placeholder="e.g. foo.com"
                        ng-model="cluster.domain">
                </div>
            </div>
            <div class="form-group"
                ng-class="{'hide': $parent.ctrl.tab===0}">
                <label class="col-xs-12 col-sm-3 control-label"
                    for="id__influxdb">influxdb</label>
                <div class="col-xs-12 col-sm-9">
                    <input
                        class="form-control"
                        id="id__influxdb"
                        type="text"
                        placeholder="e.g. 192.168.1.85:3400"
                        ng-model="cluster.influxdb">
                </div>
            </div>
            <div class="form-group"
                ng-class="{'hide': $parent.ctrl.tab===0}">
                <label class="col-xs-12 col-sm-3 control-label"
                    for="id__graylog">graylog</label>
                <div class="col-xs-12 col-sm-9">
                    <input
                        class="form-control"
                        id="id__graylog"
                        type="text"
                        placeholder="e.g. 192.168.1.85:3400"
                        ng-model="cluster.graylog">
                </div>
            </div>
        </form>

        <div class="row">
            <div class="col-xs-12 col-sm-offset-2 col-sm-8 col-md-offset-3 col-md-6">
                <button
                    class="btn btn-default btn-lg btn-block"
                    type="submit"
                    ng-click="doSetup()">&raquo; 下一步</button>
            </div>
        </div>
    </div>
</div>
</script>
